Package: org.thebigboss.instarealdate
Name: InstaRealDate
Depends: mobilesubstrate
Version: 2.1.1
Architecture: iphoneos-arm
Description: See more information about a post date in Instagram.
Maintainer: ryebread761
Author: ryebread761
Section: Tweaks
